#top {
  background-color: rgb(49, 49, 65);
  color: white;
  text-align: center;
  font-size: 80px;
  padding-top: 15px;
  height: 5rem;
}

.row {
  height: 100%;
}

#weather-info {
  border: 1px solid black;
  margin: 0 auto;
  text-align: center;
}

#card-display {
  margin: 0 auto;
  border: 1px solid black;
  text-align: left;
}
